<%layout("/layouts/boilerplate")%>
<style>
    .filter{
        margin-top: 1rem;
        text-align: center;
        margin-right: 2rem;
        opacity: 0.7;
    }
    .filter:hover{
            opacity: 1;
    }
    #filters{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .tax-info{
        display: none;
    }
    .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.5rem;
        padding: 1rem;
    }
    .chotu:hover{
        cursor:pointer;
    }
</style>
<body>
    <div id="filters">
        <div class="filter">
            <div><i class="fa-solid fa-fire"></i></div>
           <p>Trending</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-bed"></i></div>
           <p>Rooms</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
           <p>Iconic Cities</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
           <p>Beach</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-tents"></i></div>
           <p>Camping</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-water"></i></div>
           <p>Lakes</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-gopuram"></i></div>
           <p>Forts</p>
        </div>
        <div class="filter">
            <div><i class="fa-brands fa-fort-awesome"></i></div>
           <p>Castles</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
           <p>Pools</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-cow"></i></div>
           <p>Farms</p>
        </div>
        <div class="filter">
            <div><i class="fa-regular fa-futbol"></i></div>
           <p>Play</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-wine-glass-empty"></i></div>
           <p>Bar</p>
        </div>
        <div class="filter">
            <div><i class="fa-solid fa-mountain"></i></div>
           <p>Mountains</p>
        </div>
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch chotu">
                <input class="form-check-input chotu" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
              </div>
        </div>
    </div>
    <!-- <h3>All Listings</h3> -->
    <!-- <form action="/listings/new" method="GET">
        <button>Create New Listing</button>
    </form> -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
        <%for(let listing of allListings){%>    
        <a href="/listings/<%=listing._id%>" class="listing-link">
            <div class="card col listing-card">
                <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height:20rem">
                <div class="card-img-overlay"></div>
                <div class="card-body">
                  <p class="card-text"><b><%= listing.title%></b>
                    <br>
                   &#8377;<%=listing.price%>/night
                   <i class="tax-info">&nbsp; +18% GST</i>
                   <!-- .toLocaleString("en-IN") -->
                </p>
                </div>
              </div>
              <%}%>
            </div>
        </a>
    <!-- <ul>
    <%for(let listing of allListings){%>
        <li><a href="/listings/<%=listing._id%>"><%=listing.title%></a></li>
    <%}%>
    </ul> -->
</body>

<script>
    let taxSwitch =document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", ()=>{
        let taxInfo=document.getElementsByClassName("tax-info");
        for(info of taxInfo){
            if(info.style.display!="inline"){
                info.style.display="inline";
            }else{
                info.style.display="none";
            } 
        }
    })
</script>