<%layout("/layouts/boilerplate.ejs")%>
    <br><br>
    <!-- <script>
        const mapToken
    </script> -->
    <body>
    <div class="row">
        <div class="col-8 offset-2">
            <div class="col-6 offset-2">
                <h3><%=listing.title%></h3>
            </div>
        
            <div class="card col-6 offset-2 listing-card show-card">
                <img src="<%=listing.image.url%>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                 <p class="card-text">
                    <br>
                    <i>Owned By-<%=listing.owner.username%></i><br>
                    <%=listing.description%> <br>
                    <br>
                    &#8377; <%=listing.price%> <br>
                    <!-- .toLocaleString("en-IN") -->
                    <%=listing.location%> <br>
                    <%=listing.country%>
                </p>
          </div>
            </div>
            <%if(currUser && listing.owner._id.equals(currUser._id)){%>
            <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark add-btn offset-2">Edit</a>
            <br>
            <br>
            <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
                <button class="btn btn-dark add-btn offset-2">Delete</button>
                <br>
            </form>
            <%}%>
        </div>

        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.1246277358873!2d84.78845907498385!3d19.32039758193521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a3d5013bd3b96f1%3A0xa473c43f047afff9!2sTulsi%20Nagar%207th%20Ln%2C%20Tulsi%20Nagar%2C%20Brahmapur%2C%20Odisha%20760001!5e0!3m2!1sen!2sin!4v1717737259888!5m2!1sen!2sin" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <div class="col-8 offset-2">
            <%if(currUser){%>
            <hr>
            <h4>Leave a Review</h4>
            <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
                <div class="mb-3 mt-3">
                    <label for="review[rating]" class="form-label">Rating</label>
                    <fieldset class="starability-slot">
                        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                      </fieldset>
                </div>
                
                <div class="mb-3 mt-3">
                    <label for="review[comment]" class="form-label">Comments</label>
                    <textarea name="review[comment]" id="comment" class="form-control" cols="20" rows="5" required></textarea>
                    <div class="invalid-feedback">Please add some comments</div>
                    <br>
                    <button class="btn btn-dark">Submit</button>
                    <br><br>
                </div>
            </form>
            <%}%>
            <hr>
            <div class="offset-2">
                <h3>Where you'll be</h3>
            <iframe src="<%=listing.map_src%>" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <h4>All Reviews</h4>
            <div class="row">
                <% for(review of listing.reviews){%>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body">
                            <h5 class="card-title">@<%=review.author.username%></h5>
                            <p class="starability-result card-text" data-rating="<%= review.rating%>">
                            <p class="card-text"><%= review.comment%></p>

                              </p>
                        </div>
                        <form class="mb-3" method="POST" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn-dark btn-sm">Delete</button>
                        </form>
                    </div>
                <%}%>
            </div>   
        </div>
        </div>
        <!-- <div class=" offset-3 mb-3">
            <h3>Where you'll be</h3>
            <div id="map"></div>
          </div> 
    </div> -->

<!-- <script src="/js/map.js"></script> -->
</body>